.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  margin-right: 2rem;
}

.a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videoCard {
  width: calc(25% - 1rem);
  margin-bottom: 2rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.videoCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.videoCard h3 {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
